/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Oswald-Regular;
  src: url('../fonts/oswald/Oswald-Regular.ttf');
}

@font-face {
  font-family: Oswald-Medium;
  src: url('../fonts/oswald/Oswald-Medium.ttf');
}



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Oswald-Regular, sans-serif;
}


/*---------------------------------------------*/
.container {
  max-width: 1200px;
}

.container h2 {
  margin: 50px;
  text-align: center;
}

.container h5 {
  margin-top: 50px;
  text-align: center;
}

.container h6 {

  text-align: center;
}

.container hr {
  border-top: 2px solid grey;
  width: 80%;
  margin: auto;
  padding-bottom: 25px;
}